---
layout: default
---
{% assign pageUrlChunks = page.url | split: '/' %}
{% assign dataKey = pageUrlChunks[2] %}
{% assign data = site.data.stories[dataKey] %}

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ data.title | escape }}</h1>
    <p>Written by {{ data.author }} on {{ data.published_on }}</p>
  </header>

  {% if page.subtitle %}
    <h2>{{ page.subtitle }}</h2>
  {% endif %}

  <div class="post-content">{{ content }}</div>

  {% if page.options %}
    <nav class="story-options">
      {% for option in page.options %}
        {% if option.requires_item %}
          <a href="{{ site.url }}/{{ option.page }}" class="hide" data-inventory-item="{{ option.requires_item }}">
            {{- option.text -}}
          </a>
        {% else %}
          <a href="{{ site.url }}/{{ option.page }}">
            {{- option.text -}}
          </a>
        {% endif %}
      {% endfor %}
    </nav>
  {% endif %}
</article>
